h3 {
        margin-left: 30%;
        font-family: fantasy;
    }
body {
    background-color: aquamarine;
}
select {
    width: 20%;
    height: 20%;
    margin-left: 30%;
    padding: 10px;
}

#labelDisp {
    margin-left: 20%;
    font-family: sans-serif;
    padding: 10px;
}

#sidesDisp {
    margin-left: 25%;
    width: 20%;
    background-color: aliceblue;
    padding: 10px;
}

#rollDie {
    margin-left: 30%;
    width: 20%;
    padding: 10px;
}

#rollLabel {
    margin-left: 20%;
    padding: 10px;
    font-family: sans-serif;
}

#rollDisp {
    padding: 10px;
    margin-left: 25%;
    background-color: aliceblue;
    width: 20%;
}